if SHIELD_LALAPADMINI_RIGHT

config ZMK_KEYBOARD_NAME
    default "Lalapadmini_R"

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif

if SHIELD_LALAPADMINI_LEFT

config ZMK_KEYBOARD_NAME
    default "Lalapadmini_L"

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif

if SHIELD_LALAPADMINI_LEFT || SHIELD_LALAPADMINI_RIGHT

config ZMK_SPLIT
    default y

endif

if SHIELD_LALAPADMINI_DONGLE

config ZMK_KEYBOARD_NAME
    default "Lalapadmini"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

endif

if SHIELD_LALAPADMINI_DONGLE || SHIELD_LALAPADMINI_LEFT || SHIELD_LALAPADMINI_RIGHT

config ZMK_SPLIT
    default y

endif